@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="resourceGroups-table" style="margin-top: 25px;"></div>

<div id="resources-table" style="margin-top: 25px;"></div>

@section scripts {
    <script>

        $(document).ready(function () {
            $('#resourceGroups-table').jtable({
                actions: {
                    listAction: '@Url.Action("GetResourceGroups")?subscriptionId=@Request.QueryString["subscriptionId"]&tenantId=@Request.QueryString["tenantId"]'
                },
                create: false,
                edit: false,
                paging: false,
                sorting: false,
                title: 'Resource Groups',
                fields: {
                    Name: {
                        title: 'Name',
                        width: '30%',
                    },
                    Location: {
                        title: 'Location',
                        width: '30%',
                    }
                }
            });

            $('#resources-table').jtable({
                actions: {
                    listAction: '@Url.Action("GetResources")?subscriptionId=@Request.QueryString["subscriptionId"]&tenantId=@Request.QueryString["tenantId"]'
                },
                create: false,
                edit: false,
                paging: false,
                sorting: false,
                title: 'Resources',
                fields: {
                    Name: {
                        title: 'Name',
                        width: '30%',
                    },
                    Location: {
                        title: 'Location',
                        width: '30%',
                    },
                    Type: {
                        title: 'Type',
                        width: '30%'
                    }
                }
            });

            $('#resourceGroups-table').jtable('load');
            $('#resources-table').jtable('load');
        });
    </script>
}