@{
    ViewBag.Title = "Office 365";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="users-table" style="margin-top: 25px;"></div>

@section scripts {
    <script>

        $(document).ready(function () {
            $('#users-table').jtable({
                actions: {
                    listAction: '@Url.Action("GetUsers")?tenantId=@Request.QueryString["tenantId"]'
                },
                create: false,
                edit: false,
                paging: false,
                sorting: false,
                title: 'Azure AD Users',
                fields: {
                    DisplayName: {
                        title: 'Display Name',
                        width: '30%',
                    },
                    UserPrincipalName: {
                        title: 'User Principal Name',
                        width: '30%',
                    },
                    GivenName: {
                        title: 'Given Name',
                        width: '30%'
                    },
                    Surname: {
                        title: 'Surname',
                        width: '30%'
                    }
                }
            });

            $('#users-table').jtable('load');
        });
    </script>
}