@model Microsoft.Store.PartnerCenter.Samples.SDK.Explorer.Models.CustomersModel
@using Microsoft.Store.PartnerCenter.Models.Customers;

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs{
    <ol class="breadcrumb navbar-breadcrumb">
        <li>Customers</li>
    </ol>
}

<div class="side-body padding-top">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Domain</th>
                <th>Relationship</th>
            </tr>
        </thead>
        @foreach (Customer customer in Model.Customers.Items)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.CompanyProfile.CompanyName, customer.Id, "Customers")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.CompanyProfile.Domain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.RelationshipToPartner)
                </td>
            </tr>
        }
    </table>
</div>