@model Microsoft.Store.PartnerCenter.Samples.SDK.Explorer.Models.SubscriptionHealthModel

@{
    ViewBag.Title = "Subscription Health";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs{
    <ol class="breadcrumb navbar-breadcrumb">
        <li>Customers</li>
        <li>@Model.CompanyName</li>
        <li>Subscription</li>
        <li class="active">@Model.FriendlyName</li>
    </ol>
}

<div class="side-body padding-top">
    @if (Model.SubscriptionType.Equals("Azure", StringComparison.CurrentCultureIgnoreCase))
    {
        Html.RenderPartial("~/Views/Subscriptions/HealthAzureSubscription.cshtml", Model);
    }
    else
    {
        Html.RenderPartial("~/Views/Subscriptions/HealthOfficeSubscription.cshtml", Model);
    }
</div>