@model Microsoft.Store.PartnerCenter.Samples.SDK.Explorer.Models.SubscriptionHealthModel
@using Microsoft.Store.PartnerCenter.Samples.Common.Models

<table class="table table-striped">
    <thead>
        <tr>
            <th>Identifier</th>
            <th>Status</th>
            <th>Time</th>
            <th>Workload</th>
        </tr>
    </thead>
    @foreach (OfficeHealthEvent d in Model.HealthEvents)
    {
        <tr>
            <td>
                @Html.DisplayFor(item => d.Id)
            </td>
            <td>
                @Html.DisplayFor(item => d.Status)
            </td>
            <td>
                @Html.DisplayFor(item => d.StatusTime)
            </td>
            <td>
                @Html.DisplayFor(item => d.WorkloadDisplayName)
            </td>
        </tr>
    }
</table>