@model Microsoft.Store.PartnerCenter.Samples.SDK.Explorer.Models.SubscriptionManageUsersModel
@using Microsoft.Samples.AzureAD.Graph.API.Models

@{
    Layout = null;
}

<div id="dialog-edit" style="display: none"></div>

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Display Name</th>
                <th>Email</th>
                <th>UPN</th>
            </tr>
        </thead>
        @foreach (User user in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => user.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(item => user.Mail)
                </td>
                <td>
                    @Html.DisplayFor(item => user.UserPrincipalName)
                </td>
            </tr>
        }
    </table>
</div>