@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="requests-table" style="margin-top: 25px;"> </div>

@section scripts {
    <script>

        $(document).ready(function () {
            $('#requests-table').jtable({
                title: 'Service Requests',
                paging: false,
                sorting: false,
                edit: false,
                create: false,
                actions: {
                    listAction: '@Url.Action("GetServiceRequests")'
                },
                fields: {
                    CreatedDate: {
                        displayFormat: 'mm/dd/yy',
                        title: 'Created Date',
                        type: 'date',
                        width: '20%'
                    },
                    LastModifiedDate: {
                        displayFormat: 'mm/dd/yy',
                        title: 'Modified Date',
                        type: 'date',
                        width: '20%'
                    },
                    Title: {
                        title: 'Title',
                        width: '30%'
                    },
                    Status: {
                        title: 'Status',
                        width: '30%',
                    },
                }
            });
        
        $('#requests-table').jtable('load');
        });
    </script>
}