@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="invoice-table" style="margin-top: 25px;"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#invoice-table').jtable({
                title: 'Invoices from Partner Center',
                paging: false,
                sorting: false,
                edit: false,
                create: false,
                actions: {
                    listAction: '@Url.Action("GetInvoices")'
                },
                fields: {
                    InvoiceDate: {
                        displayFormat: 'mm/dd/yy',
                        title: 'Date',
                        type: 'date',
                        width: '20%'
                    },
                    Id: {
                        title: 'Invoice Id',
                        width: '20%'
                    },
                    TotalCharges: {
                        title: 'Total Charges',
                        width: '20%'
                    },
                    Details: {
                        display: function (data) {
                            var $link = $('<a href="#" data-invoice-id="' + data.record.Id + '">Details</a>');

                            $link.click(function () {
                                window.location = '@Url.Action("Details", "Invoices")?invoiceId=' + data.record.Id;
                            });

                            return $link;
                        },
                        title: '',
                        width: '10%'
                    },
                    Export: {
                        display: function (data) {
                            var $link = $('<a href="#" data-invoice-id="' + data.record.Id + '">Export</a>');

                            $link.click(function () {
                                window.location = '@Url.Action("ExportInvoice", "Invoices")?invoiceId=' + data.record.Id;
                            });

                            return $link;
                        },
                        title: '',
                        width: '10%'
                    },
                }
            });

            $('#invoice-table').jtable('load');
        });
    </script>
}